<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ELICIT] Decode.</title>
    <link rel="stylesheet" href="../static/output.css">
</head>

<body class="bg-background">
    <nav class="flex bg-text w-full h-[50px] justify-between place-items-center px-4">
        <!-- logo -->
        <div class="font-poppins text-4xl font-bold">Decode.</div>

        <!-- main nav -->
        <div class="text-center hidden md:block">
            <a href="/play" class="text-background font-nulshock px-4 text-xl py-2">PLAY</a>
            <a href="/leaderboard" class="text-background font-nulshock text-xl  px-4 py-2">LEADERBOARD</a>
        </div>

        <!-- authentication -->
        <div>
            <a href="/login" class="text-text font-poppins bg-background px-4 py-2 rounded-lg"> >Login</a>
        </div>
    </nav>


    <section class="flex relative justify-center place-items-center w-full min-h-[95vh] hero">
        <div class="w-[95%] md:w-[70%] lg:w-[50%]">
            <div class="bg-opacity-[69%] text-center rounded-[30px] bg-text p-4 md:p-8">
                <h1 class="text-background font-dos text-center text-4xl md:text-6xl font-bold">ERROR</h1>
                <p class="text-center p-4 font-nulshock text-base md:text-xl text-background">
                    this is for some error that comes when the website comes to some error page.
                    this is for some error that comes when the website comes to some error page.
                    <br><br>
                    Some big description about the error and something related to it possibly? who knows
                </p>
            </div>
            <p class="text-center font-dos text-text text-xl font-bold">Not sure what happened? Join our <a class="text-[#888888]" href="/links/discord">discord!</a></p>
        </div>

    </section>


    <section id="footer" class="bg-text w-full p-3">
        <div class="w-full flex place-items-center font-nulshock text-xl">
            <img src="../static/acmlogo.svg"> &nbsp; <p> DECODE by <a href="https://linktr.ee/roadtoelicit24" class="text-links">MUJ ACM</a></p>
        </div>
        
        <div class="mt-4">
            <a class="text-links font-dos underline text-xl">Meet our team behind decode!</a>
            <br><br>
            <p class="font-nulshock text-hard-bg text-lg md:text-3xl">FOLLOW US ON OUR SOCIALS!</p>
            <a href="" target="_blank" class="text-links font-dos underline text-xl">instagram</a>&nbsp;
            <a href="" target="_blank" class="text-links font-dos underline text-xl">linkedin</a>&nbsp;
            <a href="" target="_blank" class="text-links font-dos underline text-xl">email</a>&nbsp;
            <a href="" target="_blank" class="text-links font-dos underline text-xl">facebook</a>&nbsp;
        </div>
        <br>
        <h1 class="text-center text-links text-xl md:text-2xl font-dos">
            <a href="https://krishsharma.in" target="_blank">Website by Krish Sharma</a>
        </h1>
    </section>

</body>

</html>